@media (max-width:950px) {


/* Header */


.logo {

    margin-left: 1%;
}



/* Main */

/* Seção - Banner*/

.banner > h2 {
    text-align: center;
    font-size: 35px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Seção - Destaques*/

.destaques-cards {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Seção - Estrelas*/


.estrelas {
    margin-bottom: 50px;
}

.estrelas-cards {
    flex-direction: column;
    gap: 50px;
}


/* Footer */

.footer {
    flex-direction: column;
    justify-content: center;
}

.footer > img {
    padding: 50px;
}

.footer > .redes {
    padding-right: 0;
    padding-bottom: 20px;
}

}


@media (max-width:700px) {
    .navegacao label {
        display: block;
    }
    
    .navegacao > div {
        display: none;
    
        width: 140px;
        height: 60px;
    
    }
    
    .navegacao > div a:hover{
        font-size: 15px;
    }
    
    .navegacao > div a {
        font-size: 14px;
    }
    
    .navegacao input:checked + div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
}