@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
 
}

/* Header */

header {

    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222222;
}

.logo {
   width: 30%;
   display: flex;
   align-items: center;  
}

.navegacao {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 30px;

}

.navegacao > div {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 30px;
    
}

.navegacao > div > a {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
    
}

.navegacao > div a:hover{
    transition: 0.6s;
    font-size: 25px;
    color: #D01418;
}

.navegacao input, label {
    display: none;
    color: white;
}

.carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    cursor: pointer;
}

.carrinho:hover {
    transition: 0.5s;
    transform: scale(1.3);
    color: azure;   
}


/* Main */

main {
    flex: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Seção - Banner */
.banner {
    background-image: url('../imgs/fundo.png');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.banner > h2 {
    font-size: 40px;
    font-family: 'Roboto';
    color: white;
}

.banner > h2 > span {
    color: #D01418;
}

.banner > button {
    width: 200px;
    padding: 10px;
    border-radius: 5px;

    font-size: 20px;
    font-family: 'Roboto';
    color: white;
    background-color: #D01418;
    cursor: pointer;
}

.banner > button:hover{
    opacity: 80%;
}

/* Seção - Destaques */
.destaques {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.destaques-title {
    font-size: 20px;
    font-family: 'Roboto';
}

.destaques-cards {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card-destaque {
    width: 265px;
    height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 10px lightgrey;
}

.card-destaque > .jogo {
    cursor: pointer;
    width: 60%;
    position: relative;
    left: 20%;
}

.card-destaque > .jogo:hover {
    transition: 0.5s;
    left: 15%;
    width: 70%;
}

.card-destaque> .traco {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
}

.card-destaque > .valor {
    font-size: 20px;
    font-family: 'Roboto';
}

.card-destaque > .valor-juros {
    font-size: 14px;
    font-family: 'Roboto';
}

.card-destaque > .envio {
    font-size: 10px;
    font-family: 'Roboto';
    color: #619D00;
    text-decoration: none;
}

/* Seção - Estrelas */

.estrelas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

.estrelas-title {
    font-size: 20px;
    font-family: 'Roboto';
    
}

.estrelas-cards {
    width: 80%;
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 60px;
}

.card-estrela {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 135px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
}

.card-estrela > p {
    font-family: 'Roboto';
    font-size: 25px;
    color: #F3F3F3;
}

.card-estrela:hover {
    transition: 0.5s;
    transform: scale(1.1);
    
}

.cadeiras {
    background-image: url('../imgs/cadeirasgamer.png');
    background-repeat: no-repeat;
}

.computadores {
    background-image: url('../imgs/computadores.png');
    background-repeat: no-repeat;
}


/* Footer*/

footer {

    background-color: #222222;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer > img {
    padding: 60px;
    width: 350px;
}

.footer > .redes {
    padding-right: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    font-family: 'Roboto';
    font-size: 20px;
    color: #F3F3F3;
}

.redes-icones {
    display: flex;
    gap: 50px;
}

.redes-icones > a:hover {
    transition: 1.5s;
    transform: rotate(360deg);
}

.copyright {
    width: 100%;
    padding: 5px;

    font-family: 'Roboto';
    font-size: 14px;
    text-align: center;

    border: 1px solid black;
    background-color: whitesmoke;
}